@import "compass";

$backgroundColor: #0578b3;
$contentColor: #5e5e5e;
$labelColor: #393939;

html {
  font-size: 0.6rem;
  font-family: 'Lato', sans-serif;
}

body {
	color: $contentColor;
  background-color: #F8FDFF;
  margin: 0;
  .back-icon {
    display: none;
  }
  .gear-icon {
    display: block;
  }
}

body.settings {
  background-color: $backgroundColor;
  .navbar a {
    color: white;
    &:active {
      color: $backgroundColor;
    }
  }
  .back-icon {
    display: block;
  }
  .gear-icon {
    display: none;
  }
}

body.chat {
  .back-icon {
    display: block;
  }
  .gear-icon {
    display: none;
  }
}

header {
	z-index: 100;
	position: absolute;
	width: 100%;
}

p, legend, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: white;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar .nav {
  float: right;}

.navbar-inner {
	padding-right:0;
}

.container {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.navbar {
	border-radius: 0;
  background-color: transparent;
  border: none;
  height: 53px;
}

.navbar a {
  text-decoration: none;
  font-size:3.5rem;
  color: $contentColor;
  &:active {
    color: $backgroundColor;
  }
}

.navbar-header {
	float:left;
}

.navbar-left {
  float:left !important;
}

.header-icon {
  height: 2rem;
}
.error-container {
  padding-top: 5rem;
}

.welcome-content {
  padding-top: 4rem;
}

.appHeader {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom:3rem;
}

.stopInput {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width:30rem;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  p {
    font-size: 1.6rem;
    margin-top: 0.4rem;
    margin-bottom:0.4rem;
  }
}

.stops-typeahead {
	position: relative;
	text-align: center;
}

.twitter-typeahead {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.tt-input {
  padding: 0.8rem 0.8rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  outline: none;
  color: white;
  height: 3rem;
  width: 30rem;
  border-radius: 0;
  background-color: $backgroundColor;
  left: auto !important;
  padding-left: 0;
}

.tt-hint {
  visibility: hidden;
}

input.typeahead.tt-hint {
  background-color: transparent !important;
  max-width: 30rem;
  width:100%;
}

/* line 135, ../scss/main.scss */
.tt-input {
  border:none;
  color:white;
  box-shadow: 0;
  border-bottom: 1px solid white;
}

.tt-menu {
  min-height: 30rem;
  width: 100%;
  /*min-width: 20rem;*/
  background-color: $backgroundColor;
}


.tt-dropdown-menu {
  width: 17rem;
  margin-top: 0;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.2) !important;
  box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.2) !important;
}

.tt-suggestion {
  padding: 0.5rem 0.6rem;
  padding-left: 0;
  text-align: left;
  display: block;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size:2rem;
  background-color: $backgroundColor;
}

.tt-suggestion.tt-cursor {
    background-color: #eee;
}

.tt-suggestion p {
    margin: 0;
    color: #636363 !important;
}

.tt-suggestion.tt-selectable {
  color: white;
}

.centered {
	text-align: center;
}

.btnContainer {
  text-align: center;
  margin-top: 5rem;
  max-width: 30rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.btn-lg {
  border-radius: 3px;
  background-color: transparent;
  border-color: white;
  padding:1.2rem 5rem;
  color: white;
  width:100%;
  font-size: 2rem;
  border: 1px solid white;
}

.right-aligned {
	text-align: right;
}

.center-aligned {
	text-align: center;
}

.nextBus-content {
  padding-right: 2rem;
}

.nextHeader {
	font-size: 2.2rem;
	font-weight: 300;
  line-height:1;
  //text-transform:uppercase;
  float: right;
  clear: both;
  margin-top:0.2rem;
  color: $contentColor;
}

.nextLabel {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  float: right;
  clear: both;
  color: $labelColor;
  text-transform:uppercase;
}

.depStop {
  text-transform:uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.nextTime {
	font-weight: 100;
	font-size: 9rem;
	line-height: 0.75;
  float: right;
  clear: both;
  color: $contentColor;
}

.counter-container {
  margin-top:0.9rem;
  font-weight: 300;
  font-size: 0.6rem;
  float: right;
  clear: both;
}

.nextCounter {
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
    opacity: 0.6;
    color: $contentColor;
    float: right;
    clear: both;
}

.doubled {
  color: #64be35;
  opacity: 1;
  font-weight: 600;
}

.nextArrival {
	font-weight: 300;
	font-size: 1.4rem;
	margin-top: 0.3rem;
}

.nearing {
	color: rgb(255, 167, 71);
  opacity: 1;
  font-weight: 600;
}

span.glyphicon.glyphicon-sort {
  color: white;
  padding-right: 0.6rem;
  font-size:2rem;
}

.swipableContainer {
  position: absolute;
  min-height: 380px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  // background-image: url("../img/background.png");
  // background-position: center bottom;
  // background-repeat: no-repeat;
  // background-size: contain;
}
#bg {
  position: fixed; 
  width: 100%; 
  height: 100%;
}
#bg img {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}


.swiper-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
}

.tab-label {
	margin:0;
	font-size: 2rem;
	font-family: lato-Light;
	margin-top: 0.4rem;
}

.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 5px;
	width: 100%;
	z-index: 100;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #B3B3B3;
	margin: 0 3px;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background: #fff;
}

/* -------------- Clock Spinner -------------- */

.loading-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  margin-left: -15px;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -39px;
  p {
    margin-top: 10px;
  }
}

.clock{
  border-radius: 60px;
  border: 3px solid #fff;
  height: 80px;
  width: 80px;
  position: relative;
}

.clock:after{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 1px;
  left: 47%;
  height: 37px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 97%;
      transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 2s linear infinite;
      animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 4px;
  left: 47%;
  height: 35px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 94%;
      transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 12s linear infinite;
      animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


/* -------------- Chat -------------- */

.chatView-container {
  padding-top: 7rem;
}

.chat-messages {
  padding-bottom: 6rem;
}

.inputMessage {
  height: 4rem;
  border: 1px solid black;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.log {
  display: block !important;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size:1.5rem;
}

.message {
  font-size:1.5rem;
  display: block !important;
  margin-left: 2rem;
  margin-right: 2rem;
  .username {
    margin-right: 1rem;
  }
}

