@import "compass";

$backgroundColor: #0578b3;
$lightBackgroundColor: #F8FDFF;
$contentColor: #5e5e5e;
$labelColor: #393939;
$huppGreen: #4eb85f;
$lightRed: #fd6162;
$lightGreen: #3dc855;
$lightMediumGray: rgb(184, 184, 184);
$deepBlue: #4183D7;
$darkGray: #4d4c4c;
$lightGray: rgb(219, 219, 219);
$lightBlue:#6fb1fc;
$orange: #ffa347;
$redBackground: #f45f5f;

$headerHeight: 3.8rem;

html {
  font-size: 0.6rem;
  font-family: 'Lato', sans-serif;
}

body {
	color: $contentColor;
  background-color: $lightBackgroundColor;
  margin: 0;
  .back-icon {
    display: none;
  }
  .gear-icon {
    display: table-cell;
  }
  .chat-icon {
    display: table-cell;
  }
}

body.settings {
  background-color: $backgroundColor;
  p {
    color: white;
  }
  
  header {
    background-color: $backgroundColor;
  }
  .navbar a {
    color: white;
    &:active {
      color: $backgroundColor;
    }
  }
  .back-icon {
    display: table-cell;
  }
  .chat-icon {
    display: none;
  }
  .gear-icon {
    display: none;
  }
}

body.chat {
  .back-icon {
    display: table-cell;
  }
  .gear-icon {
    display: none;
  }
  .header-title {
    display: table-cell;
  }
  //overflow: hidden;
}

body.about {
  .back-icon {
    display: table-cell;
  }
  .gear-icon {
    display: none;
  }
}

header {
	z-index: 100;
	position: fixed;
	width: 100%;
  background-color: $lightBackgroundColor;
}

.header-title {
    box-sizing: content-box;
    text-align: center;
    display: none;
    vertical-align: middle;
    p {
      font-size: 2rem;
      margin: 0.8rem;
      color: #5e5e5e;
      color: $contentColor;
    }
}

.header__badge {
  position: absolute;
  display: inline-block;
  background: #f45f5f;
  border-radius: 100px;
  font-size: 10px;
  line-height: 1.5;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 4px 0 0 0;
  left: 2.4rem;
  top: -0.1rem;
}

p, legend, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $contentColor;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: table;
  width: 100%;
}
.navbar .nav {
  float: right;
}

.navbar-inner {
	padding-right:0;
}

.container {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.navbar {
	border-radius: 0;
  background-color: transparent;
  border: none;
  height: $headerHeight;
}

.navbar a {
  text-decoration: none;
  font-size:3.5rem;
  color: $contentColor;
  &:active {
    color: $backgroundColor;
  }
}

.navbar-header {
	float:left;
}

.navbar-left {
  float:left !important;
  margin-left: 2rem;
}

.navbar-right {
  position: relative;
  margin-right: 2rem;
}

.header-icon {
  height: 2rem;
}
.error-container {
  padding-top: 6rem;
  padding-right: 2rem;
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h1, h2 {
    color: $contentColor;
  } 
}

.welcome-content {
  padding-top: 4rem;
}

.appHeader {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom:3rem;
}

.stopInput {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width:30rem;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  p {
    font-size: 1.6rem;
    margin-top: 0.4rem;
    margin-bottom:0.4rem;
  }
}

.stops-typeahead {
	position: relative;
	text-align: center;
}

.twitter-typeahead {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.tt-input {
  padding: 0.8rem 0.8rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  outline: none;
  color: white;
  height: 3rem;
  width: 30rem;
  border-radius: 0;
  background-color: $backgroundColor;
  left: auto !important;
  padding-left: 0;
}

.tt-hint {
  visibility: hidden;
}

input.typeahead.tt-hint {
  background-color: transparent !important;
  max-width: 30rem;
  width:100%;
}

/* line 135, ../scss/main.scss */
.tt-input {
  border:none;
  color:white;
  box-shadow: 0;
  border-bottom: 1px solid white;
}

.tt-menu {
  min-height: 30rem;
  width: 100%;
  /*min-width: 20rem;*/
  background-color: $backgroundColor;
}


.tt-dropdown-menu {
  width: 17rem;
  margin-top: 0;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.2) !important;
  box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.2) !important;
}

.tt-suggestion {
  padding: 0.5rem 0.6rem;
  padding-left: 0;
  text-align: left;
  display: block;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size:2rem;
  background-color: $backgroundColor;
}

.tt-suggestion.tt-cursor {
    background-color: #eee;
}

.tt-suggestion p {
    margin: 0;
    color: #636363 !important;
}

.tt-suggestion.tt-selectable {
  color: white;
}

.centered {
	text-align: center;
}

.btnContainer {
  text-align: center;
  margin-top: 5rem;
  max-width: 30rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.btn-lg {
  border-radius: 3px;
  background-color: transparent;
  border-color: white;
  padding:1.2rem 5rem;
  color: white;
  width:100%;
  font-size: 2rem;
  border: 1px solid white;
}

.right-aligned {
	text-align: right;
}

.center-aligned {
	text-align: center;
}

.nextBus-content {
  padding-right: 2rem;
}

.nextHeader {
	font-size: 2.2rem;
	font-weight: 300;
  line-height:1;
  //text-transform:uppercase;
  float: right;
  clear: both;
  margin-top:0.2rem;
  color: $contentColor;
}

.nextLabel {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  float: right;
  clear: both;
  color: $labelColor;
  text-transform:uppercase;
}

.depStop {
  text-transform:uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.nextTime {
	font-weight: 100;
	font-size: 9rem;
	line-height: 0.75;
  float: right;
  clear: both;
  color: $contentColor;
}

.counter-container {
  margin-top:0.9rem;
  font-weight: 300;
  font-size: 0.6rem;
  float: right;
  clear: both;
}

.nextCounter {
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
    opacity: 0.6;
    color: $contentColor;
    float: right;
    clear: both;
}

.doubled {
  color: #64be35;
  opacity: 1;
  font-weight: 600;
}

.nextArrival {
	font-weight: 300;
	font-size: 1.4rem;
	margin-top: 0.3rem;
}

.nearing {
	color: rgb(255, 167, 71);
  opacity: 1;
  font-weight: 600;
}

span.glyphicon.glyphicon-sort {
  color: white;
  padding-right: 0.6rem;
  font-size:2rem;
}

.swipableContainer {
  position: absolute;
  min-height: 380px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  // background-image: url("../img/background.png");
  // background-position: center bottom;
  // background-repeat: no-repeat;
  // background-size: contain;
}
#bg {
  position: fixed; 
  width: 100%; 
  height: 100%;
}
#bg img {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}


.swiper-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
  top: 6rem;
}

.tab-label {
	margin:0;
	font-size: 2rem;
	font-family: lato-Light;
	margin-top: 0.4rem;
}

.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 6rem;
	width: 100%;
	z-index: 100;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #B3B3B3;
	margin: 0 3px;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background: #fff;
}

/* -------------- Clock Spinner -------------- */

.loading-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -39px;
  p {
    margin-top: 1rem;
    font-size: 2rem;
    color: white;
  }
}

.clock{
  border-radius: 60px;
  border: 3px solid #fff;
  height: 80px;
  width: 80px;
  position: relative;
}

.clock:after{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 1px;
  left: 47%;
  height: 37px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 97%;
      transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 2s linear infinite;
      animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 4px;
  left: 47%;
  height: 35px;
  width: 4px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 94%;
      transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 12s linear infinite;
      animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


/* -------------- Chat -------------- */


$chatInputHeight: 5rem;

.chat__messages {
  &>div > *:last-child {
    padding-bottom:  7rem;
  }
  top: 0;
  overflow-y: scroll;
  width: 100%;
  .push {
    height: 2.6rem;
  }
}
.hideOverflow{
  overflow: hidden;
}

.chatPage-container {
  padding-top: $headerHeight;
  &.username-form-open {
    overflow: hidden;
    .chat-username-container {
      display: block;
    }
  }
}

.chatView-container {
  position: relative;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  .chat-message {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &__bubble {
      border-radius: 10px;
      padding: 0.7rem 0.9rem;
      overflow: hidden;
      font-size: 1.8rem;
      display: inline-block;
      word-break: break-word;

      &--withMap {
        width: 100%;
      }

      .accepted {
        &:before {
          color: $huppGreen;
        }
      }
      .canceled {
        &:before {
          color: $lightRed;
        }
      }

      .started, .approaching {
        &:before {
          color: $lightGreen;
        }
      }
    }

    &__body {
      max-width: 80%;
      margin-left: auto;
        margin-right: auto;
    }

    &__info {
      font-size: 1.3rem;
      color: $lightMediumGray;
      //color: #A2A2A2;
      font-weight: 400;
/*      margin-left: 0.6rem;
      margin-right: 0.6rem;*/
      margin-bottom: 0.125rem;
    }

    &__large-icon {
      .icon {
        padding-left: 0;
        font-size: 3rem;
        margin-right: 0.5rem;
      }
      p {
        padding-left: 0.8rem;
      }
    }

    p {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .chat-message--you {
    .chat-message__avatar {
      padding-left: 0.5rem;
    }
    p {
      color: $contentColor;
    }
    .chat-message__body {
      direction: ltr;
      margin-left: 0.2rem;
    }
  }


  .chat-message--you, .chat-message--me {
    .chat-message__bubble {
      text-align: left;
      .icon-right {
        display: table-cell;
        vertical-align: top;
        padding-left: 0.8rem;
        font-size: 1.4rem;
        &:before {
          margin-right: -0.3rem;
        }
      }
      .badged {
        left:0.5rem;
        .icon {
          &:before {
            margin-right: 0;
            }
        }
      }
      .icon-stack-cover {
        font-size: 1.4rem;
        &:before {
          color: white;
        }
        .icon-stacked {
          &:before {
            position: initial;
            display: initial;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .chat-message--me {
    .chat-message__body {
      margin-right: 0;
      text-align: right;
    }
    p {
      color: white;
    }
    .chat-message__bubble {
        background-color: $huppGreen;
    }
    .changed {
      background-color: $deepBlue;
      color: white;
    }
  }

  .chat-message--you {
    .chat-message__bubble {
      background: #dfdfdf;
      color: $darkGray;
    }
  }

  .chat-message--fb {
    .chat-message__bubble {
      background: #0084ff;
      color: white;
    }
  }

  .chat-message--you, .chat-message--me {
    .chat-message__bubble {
        &--negotiation {
          background: white;
        }
      }
  }

  .chat-message--hupp {
    .chat-message__bubble {
      background-color: white;
    }
    p {
      color: $contentColor;
    }
  }

  .chat-message--system {
    text-align: center;
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    p {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.3rem;
    }
    img {
      display: inline-block;
        vertical-align: middle;
    }
  }

    .chat-message--me .chat-map-message__header {
      background: $lightBlue;
    }
    .chat-message--you .chat-map-message__header {
      background: $orange;
    }

  .chat-map-message {
    padding:0;
    &__place {
      padding: 0.3rem;
      p {
        padding-left: 0.3rem;
      }
      .icon {
        display: table-cell;
        vertical-align: top;
        font-size: 1.4rem;
      }
      .icon-stack {
        &:before {
          color: $lightGreen;
        }
      }
    }

    &__header {
      padding: 0.4rem 0.5rem 0.3rem;
        color: white;
    }

  }

  .chat-input {
    background-color: white;
    height: 5rem;
    border-top: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: table;
    font-size: 1.6rem;
    
    input {
        border-bottom: 0;
        position: relative;
        width: 100%;
        padding: 0;
        display: table-cell;
        height: 100%;
        border: none;
        padding-left: 1rem;
        font-size: 1.6rem;
        outline: none;
    }

    .send-button {
        color: #4eb85f;
        font-weight: 400;
        text-align: center;
        display: table-cell;
    }
  }
}

.chat-message--system {
  .icon-departure {
    color: $huppGreen;
  }
  .chat-message__content {
    width: 80%;
    margin: auto;
    min-height: 1rem;
  }
}

.chat-username-container {
    display: none;
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    width: 100%;
    overflow: hidden;
}

.chat-username-form {
    background-color: white;
    border-radius: 6px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
    p {
      font-size: 3rem;
      text-align: center;
      color: $contentColor;
    }

    input {
      border: none;
      width: 80%;
      font-size: 2.5rem;
      text-align: center;
      border-bottom: 1px solid gray;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      outline: none;
    }

    .btn-lg {
      color: $contentColor;
      border-color: $contentColor;
    }
    
}


/* -------------- About -------------- */

$bubbleSize: 2.5rem;
.help-bubble__container {
    box-sizing: border-box;
    position: absolute;
    font-variant: normal;
    line-height: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    bottom: 2rem;
    right: 4rem;
}

.help-bubble__container:after {
    $size: $bubbleSize*3;
    content: '\00a0';
    position: absolute;
    top: -($size - $bubbleSize)/2;
    left: -($size - $bubbleSize*1.5)/2;
    width: $size;
    height: $size;
}

.help-bubble {
    width: $bubbleSize;
    height: $bubbleSize;
    margin-left: 1.5rem;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    background: $huppGreen;
    color: white;
    font-weight: bold;
    line-height: $bubbleSize;
    font-size: $bubbleSize*0.6;
    text-align: center;
    box-sizing: border-box;
}

// .help-bubble:before {
//     $size: $bubbleSize*1.2;
//     content: '\00a0';
//     width: $size;
//     height: $size;
//     position: absolute;
//     top: ($bubbleSize - $size);
//     left: ($bubbleSize - $size);
//     border-radius: 100%;
//     animation: help-bubble-bounce 1s ease infinite;
//     border: 2px solid rgba($huppGreen, 0.25);
// }

// @keyframes help-bubble-bounce {
//     0% { transform: scale(1.2); }
//     50% { transform: scale(1.5); }
//     100% { transform: scale(1.2);}
// }

.about-container {
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 6rem;
  color: $contentColor;
}