<div class="about-container">
	<h1>Merci !</h1>
	<p>De la part de toute l'équipe Hupp pour avoir utilisé cette application !</p>
	<p>Nous sommes une startup niçoise qui veut rendre les transports quotidiens plus simples, efficaces et conviviaux.</p>
	<p>Notre autre application, Hupp, c'est un assistant de voyage pour les covoiturages au quotidien.<p>
	<p>Si toi aussi t'en a marre des bouchons, essaye-la !</p>
	<div class="store-links">
        <a href="https://play.google.com/store/apps/details?id=it.app.hupp"
        onclick="trackOutboundLink('https://play.google.com/store/apps/details?id=it.app.hupp')" style="display:inline-block;">
          <img alt="Get it on Google Play"
               src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
        <a href="https://geo.itunes.apple.com/us/app/hupp/id962418940?mt=8"
        onclick="trackOutboundLink('https://geo.itunes.apple.com/us/app/hupp/id962418940?mt=8')"
        style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:45px;background-size:contain;"></a>
    </div>
	<p>Si tu as juste envie de nous contacter, n'hésite pas le à le faire ici</p>
	<a href="mailto:contact@gethupp.com">contact@gethupp.com</a>

</div>