<div class="about-container">
	<h1>{{i18n "about-view.thank-you"}}</h1>
	<p>{{i18n "about-view.using-app"}}</p>
	<p>{{i18n "about-view.mission"}}</p>
	<p>{{i18n "about-view.hupp-description"}}<p>
	<p>{{i18n "about-view.try-it"}}</p>
	<div class="store-links">
        <a href="https://play.google.com/store/apps/details?id=it.app.hupp"
        onclick="trackOutboundLink('https://play.google.com/store/apps/details?id=it.app.hupp')" style="display:inline-block;">
          <img alt="Get it on Google Play"
               src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
        <a href="https://geo.itunes.apple.com/us/app/hupp/id962418940?mt=8"
        onclick="trackOutboundLink('https://geo.itunes.apple.com/us/app/hupp/id962418940?mt=8')"
        style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:45px;background-size:contain;"></a>
    </div>
	<p>{{i18n "about-view.contact"}}</p>
	<a href="mailto:contact@gethupp.com">contact@gethupp.com</a>

</div>