<div class="chatView-container">
	<div class="chat__messages"></div>
	<div class='chat-input'>
	    <input id="chatInput" type="text" placeholder="Envoyer un message"></input>
	    <div class="send-button">Envoyer</div>
	</div>
</div>
<div class="chat-username-container">
	<div class="chat-username-form">
		<p>Votre nom</p>
		<input id="nameInput" type="text" placeholder="tiger"></input>
		<div class="btnContainer">
	        <button id="loginButton" type="button" class="btn btn-warning btn-lg">
	           Confirmer
	        </button>
	    </div>
	</div>
</div>