{{#if isMine}}
		<div class="chat-message chat-message--me">
{{else}}
	{{#if isLog}}
		<div class="chat-message chat-message--hupp">
	{{else}}
		{{#if isFB}}
		<div class="chat-message chat-message--fb">
		{{else}}
			{{#if isTyping}}
			<div class="chat-message chat-message--you typing">
			{{else}}
			<div class="chat-message chat-message--you">
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}

    <div key='body' class='media__body'>
        <div class='chat-message__body'>
	        <div class="chat-message__info">
	          	{{#if username}}
				<span class="username" style="color: {{getUsernameColor}};">{{username}}</span>
				{{/if}}
				<span class="messagetime">{{getMsgTime}}</span>
			</div>
            <div class='chat-message__bubble'><p>{{message}}</p></div>
        </div>
    </div>
</div>





