<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
     <div class="nav navbar-nav navbar-left">
        <a href="/#settings"><img src="img/gear.png" class="header-icon"/></a>
     </div>
    <div class="nav navbar-nav navbar-right">
        <a href="/#chat"><img src="img/chat.png" class="header-icon"/></a>
     </div>
  </div><!-- /.container-fluid -->
</nav>