<div class="nextBus-content right-aligned">
    <div class="nextLabel">Line</div>
    <div class="nextHeader">{{lineName}}</div>
    <div class="nextLabel">Direction</div>
    <div class="nextHeader">{{direction}}</div>
    <div class="nextLabel">Scheduled Time</div>
    <div class="nextHeader depStop">{{depStop}}</div>
    <div class="nextTime">{{depHour}}</div>
    <div class="nextCounter" id="counter"></div>
    <div class="nextLabel">Arrival Time</div>
    <div class="nextHeader">{{arrHour}} ({{duration}})</div>
</div>