<div class="welcome-content center-aligned">
    <h1>Hello!</h1>
    <p>This app will tell you when the next bus 230 is coming!</p>

    <p class="centered">Departure stop (in Nice)</p>
    <div class="stops-typeahead" id="depStop" placeholder="e.g: Magnan/Promenade">
        <input class="typeahead"></div>
    </div>
    <p class="centered">Arrival stop (in Sophia)</p>
    <div class="stops-typeahead" id="arrStop" placeholder: "e.g: Les Templiers">
        <input class="typeahead"></div>
    </div>
    <div class="btnContainer">
        <button id="submitButton" type="button" class="btn btn-primary btn-lg">
           Search
        </button>
    </div>
</div>