<div class="welcome-content center-aligned">
    <div class="stopInput">
        <p class="label">Your bus line</p>
        <div class="stops-typeahead" id="line" placeholder="e.g: 230">
            <input class="typeahead"></input>
        </div>
    </div>
    <div class="stopInput">
        <p class="label">Departure stop (Home)</p>
        <div class="stops-typeahead" id="depStop" placeholder="e.g: Magnan/Promenade">
            <input class="typeahead"></input>
        </div>
    </div>
    <div class="stopInput">
        <p class="label">Arrival stop (Work/School)</p>
        <div class="stops-typeahead" id="arrStop" placeholder: "e.g: Les Templiers">
            <input class="typeahead"></input>
        </div>
    </div>
    <div class="btnContainer">
        <button id="submitButton" type="button" class="btn btn-warning btn-lg">
           Search
        </button>
    </div>
</div>